/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Light.eot");
  src: url("../fonts/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans Bold.eot");
  src: url("../fonts/Open Sans Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans Bold.woff") format("woff"), url("../fonts/Open Sans Bold.ttf") format("truetype"), url("../fonts/Open Sans Bold.svg#Open Sans Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans.eot");
  src: url("../fonts/Open Sans.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans.woff") format("woff"), url("../fonts/Open Sans.ttf") format("truetype"), url("../fonts/Open Sans.svg#Open Sans") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  padding: 35px 0;
  width: 100%;
  min-width: 320px;
  text-align: left;
  order: 1;
  -webkit-order: 1;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif; }
  header .wrapper {
    max-width: 1300px; }

.logo {
  float: left; }
  .logo__text {
    display: block;
    padding: 6px 0;
    font-size: 14px;
    color: #747688; }

.search-form {
  float: left;
  width: 100%;
  max-width: 495px;
  position: relative;
  margin: -5px 0 0 42px; }
  .search-form__input {
    border-radius: 3px;
    border: 1px solid #b9b8bd;
    height: 40px;
    padding: 10px 30px 10px 10px;
    width: 100%;
    font-size: 14px;
    color: #b8b8bd; }
  .search-form__button {
    background: transparent;
    border: none;
    position: absolute;
    top: 8px;
    right: -5px; }
    .search-form__button__images {
      display: block;
      width: 25px;
      height: 25px;
      background: url("../img/icon-search.png") no-repeat; }

.contact {
  float: right; }
  .contact__link {
    float: left;
    font-size: 23px;
    color: #181616;
    padding: 5px 17px; }
  .contact__time {
    overflow: hidden; }
    .contact__time__day {
      color: #cb944c;
      padding-bottom: 5px; }
    .contact__time__description {
      color: #2b3056; }

.icon-arr-right {
  display: inline-block;
  width: 10px;
  position: absolute;
  right: 14px;
  height: 21px;
  top: 8px;
  background: url("../img/icon-arr-right-small.png") no-repeat; }

.header__wrapper:after {
  display: block;
  content: "";
  height: 1px;
  clear: both; }

.nav {
  position: relative;
  float: left; }
  .nav__item {
    display: inline-block; }
  .nav__list {
    padding-left: 19px;
    background: url("../img/icon-main.png") -1px 22px no-repeat; }
  .nav__link {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 9px;
    color: #171717;
    display: inline-block;
    text-transform: uppercase; }
    .nav__link_open {
      display: inline-block;
      width: 15px;
      height: 9px;
      background: url("../img/icon-arr.png") no-repeat;
      margin-left: 3px; }

.car {
  float: right; }
  .car__wrapper {
    margin-top: 5px;
    border-top: 1px solid #dddfdf;
    padding: 15px 0 0;
    width: 100%; }
    .car__wrapper:after {
      content: "";
      display: block;
      height: 1px;
      clear: both;
      border-bottom: 1px solid #dddfdf; }
  .car__icon {
    background: url("../img/icon-car.png") no-repeat;
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 13px; }
  .car__number, .car__sum {
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    color: #252a54; }
    .car__number__icon, .car__sum__icon {
      background: #cb944c;
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      padding: 5px; }
  .car__sum {
    margin-right: 20px; }

.user {
  float: right;
  font-weight: bold;
  display: inline-block;
  margin: 6px 13px 0 24px;
  text-transform: uppercase;
  color: #252a54; }
  .user__icon {
    width: 25px;
    float: left;
    height: 25px;
    background: url("../img/icon-user.png") no-repeat; }

.navigation__title {
  font-size: 16px;
  font-weight: bold;
  color: #cb944c;
  text-transform: uppercase;
  list-style: none;
  padding: 13px 16px 10px;
  margin-top: -9px; }

.navigation__list {
  padding: 14px 0 9px 0;
  position: absolute;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #dddfdf;
  left: -14px;
  top: 66px;
  max-width: 243px; }
  .navigation__list_level {
    top: -12px;
    margin-left: 5px;
    left: 100%;
    width: 319px;
    padding-bottom: 21px; }

.navigation__item {
  display: block;
  position: relative; }
  .navigation__item:before {
    content: "";
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-left: 15px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    border: 1px solid #cb944c; }
  .navigation__item:hover {
    background: #e9e9ea; }

.navigation__link {
  color: #666666;
  font-size: 15px;
  line-height: 30px;
  padding: 0 30px;
  display: block; }

@media screen and (max-width: 1200px) {
  .search-form {
    max-width: 27%; }
  .nav__link {
    font-size: 13px;
    padding: 20px 5px; }
  .car__wrapper {
    margin-top: 15px;
    font-size: 10px; }
  .user {
    margin: 6px 0 0 0; } }

@media screen and (max-width: 991px) {
  header .wrapper {
    padding: 0 20px 0 40px; }
  .logo {
    width: 25.5%; }
    .logo img {
      width: 100%;
      haight: auto; }
    .logo__text {
      font-size: 13px; }
  .user {
    margin-top: -74px; }
  .car {
    margin: -79px 70px  0 0; }
    .car__wrapper {
      font-size: 11px; }
  .search-form {
    margin-left: 41px;
    max-width: 31%;
    margin-top: 0; }
    .search-form__button {
      top: 0;
      right: -11px;
      padding-top: 8px; }
      .search-form__button__images {
        background-size: 53%; }
    .search-form__input {
      height: 30px;
      margin-top: 0;
      font-size: 9px; }
  .contact__link {
    font-size: 15px; }
  .contact__time {
    font-size: 10px; }
  .contact__time__day {
    padding-bottom: 2px; }
  .nav__link {
    font-size: 12px; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {
  background: #000 url(../img/bg_footer.jpg) no-repeat left top;
  height: 80px;
  text-align: left;
  width: 100%;
  min-width: 320px;
  order: 3;
  -webkit-order: 3; }

.main-wrapper {
  padding: 0 0 0 0;
  min-width: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start; }

.wrapper {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 40px 0 40px;
  margin: 0 auto;
  position: relative; }

/* titles */
p {
  font-size: 13px;
  line-height: 18px;
  color: #000;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h1 {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h2 {
  font-size: 32px;
  line-height: 37px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h3 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

/* text position */
.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.nowrap {
  white-space: nowrap !important; }

/* loader */
.loaded .main-wrapper {
  visibility: hidden; }

.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none; }

.loaded .icon-load {
  display: block; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
  min-width: 320px;
  text-align: left;
  width: 100%;
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background: #fff000; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    min-height: 100hv;
    width: 100%;
    display: flex;
    flex-direction: column; } }
